/* * {
  margin: 0;
  padding: 0;
}

body {
  display: block;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  position: relative;
} */

/* backgroundImage: `url(${Background})`,
        backgroundRepeat: "no-repeat",
        backgroundSize: "cover",
        width: "100%",
        height: "41.5rem", */
/* 
.main-content {
  background-image: url("./assets/img/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 41.5rem;
} */
